body {
display:flex;
background-image: url('../img/7.jpg');
}
.foto {
  width: 100%;


}
.foto img{
  width: 100%;
 margin: auto;

}


.centrado{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
#img-central img
{

   width: 100%;

   /* float: right; */

 }
 #img-central{
    text-align: center;

 }
 .justificado{
   text-align: justify;
 }
 .centro{
   text-align: center;
 }
.centrarfoto{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
.alinearenlamitad{
  align-items: center;
}
.subrayado{
  text-decoration: underline;
}
.rsimg{
  width: 30%;
  background-color: inherit;
}
#ifondo{
  background-size:100% auto;
    background-repeat: no-repeat;
}